/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Styling the body element */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #191919, #ff785a);
  width: 100%;
}

/* Styling the default section container */
.section-default {
  max-width: 1000px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #191919; /* Overriding background-color - might be redundant */
}

/* Styling the title within the section */
.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #ff785a;
}

/* Styling paragraphs within the section */
p {
  font-size: 12px;
  color: #ff785a;
  padding-top: 6px;
  margin-left: 170px; /* Consider using flex properties for alignment */
}

/* Styling labels within the section */
label {
  font-size: 12px;
  color: #ff785a;
}

/* Additional styling for a specific element with class 'ps2' */
.ps2 {
  margin-left: 220px;
}

/* Styling for the form within the section */
form {
  padding: 25px;
}

/* Styling for input elements within the form */
input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 25px;
}

/* Styling for buttons within the form */
button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #ff785a;
  color: #fff;
}

/* Styling for anchor (link) elements */
a {
  font-size: 19px;
  font-weight: bold;
  color: #ff785a;
  text-decoration: none;
}