/* Styling for the footer section */
.footer {
  overflow: hidden;
  position: sticky;
  top: 100%; /* Ensures the footer sticks to the bottom of its container */
  background-color: #000;
  width: 100%;
}

/* Styling for the rows within the footer */
.footer .row {
  display: flex;
}

/* Styling for columns in the footer, specifically for large screens */
.footer .col-lg-6 {
  /* Adjust this if needed to add spacing between columns */
  margin-right: 5%;
}

/* Styling for columns in the footer, specifically for large screens */
.footer .col-lg-5 {
  /* Adjust this if needed to add spacing between columns */
  margin-right: 5%;
}

/* Styling for hyperlinks in the footer on hover */
.footer a:hover {
  color: rebeccapurple; /* Change text color to rebeccapurple on hover */
}

/* Styling for level 1 headers */
h1 {
  color: #fff; /* Set text color to white */
  font-size: 25px; /* Set font size to 25 pixels */
}

/* Styling for paragraphs */
p {
  color: #fff; /* Set text color to white */
  font-size: 30px; /* Set font size to 30 pixels */
}

/* Styling for hyperlinks */
a {
  display: grid; /* Use grid layout for hyperlinks */
  color: #fff; /* Set text color to white */
  text-decoration: none; /* Remove underline from hyperlinks */
  padding: 0px 6px; /* Add padding around hyperlink text */
  margin-right: 25px; /* Add right margin to hyperlinks */
}