* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #191919, #ff785a);
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

footer {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21.6%;
  padding-bottom: 20.5%;
  text-align: center;
}

a {
  font-size: 19px;
  font-weight: bold;
  color: #ff785a;
  text-decoration: none;
}

p {
  font-size: 19px;
  font-weight: bold;
  color: #ff785a;
}

#CT {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
  min-width: 80%;
}

#FN {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
}

#EM {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
}

#MB {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
  height: 200px;
}

#btn {
  font-size: 20px;
  width: 500px;
}

p,
#CT,
#FN,
#EM,
#MB,
input,
select,
textarea:focus {
  outline: none;
}

::placeholder {
  color: #19191969;
}

#btn:hover {
  background-color: #ff785a;
  transition: 2s;
}

section {
  border: solid;
  background-color: black;
  display: inline;
  width: 600px;
  height: 500px;
}
