/* Resetting margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the body element */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #191919, #ff785a);
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column; /* Arranging child elements in a column */
}

/* Styling for the footer element */
footer {
  width: 100%;
}

/* Styling for elements with the class 'contact' */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21.6%; /* Adjusting top padding */
  padding-bottom: 20.5%; /* Adjusting bottom padding */
  text-align: center;
}

/* Styling for anchor (link) elements */
a {
  font-size: 19px;
  font-weight: bold;
  color: #ff785a;
  text-decoration: none;
}

/* Styling for paragraph elements */
p {
  font-size: 19px;
  font-weight: bold;
  color: #ff785a;
}

/* Styling for specific elements with IDs (CT, FN, EM, MB) */
#CT {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
  min-width: 80%;
}

#FN {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
}

#EM {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
}

#MB {
  color: #191919;
  border: solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 500px;
  height: 200px;
}

/* Styling for the button element with ID 'btn' */
#btn {
  font-size: 20px;
  width: 500px;
}

p,
#CT,
#FN,
#EM,
#MB,
input,
select,
textarea:focus {
  outline: none;
}

/* Styling for placeholder text in input, select, and textarea elements */
::placeholder {
  color: #19191969;
}

/* Styling for the button element with ID 'btn' on hover */
#btn:hover {
  background-color: #ff785a;
  transition: 2s; /* Adding a transition effect on hover */
}

/* Styling for section elements */
section {
  border: solid;
  background-color: black;
  display: inline;
  width: 600px;
  height: 500px;
}
