.footer {
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: #000;
    width: 100%;
}

.footer .row {
    display: flex;
}

.footer .col-lg-6 {
    /* Adjust this if needed to add spacing between columns */
    margin-right: 5%;
}

.footer .col-lg-5 {
    /* Adjust this if needed to add spacing between columns */
    margin-right: 5%;
}

.footer a:hover {
    color: rebeccapurple;
}

h1 {
    color: #fff;
    font-size: 25px;
}

p {
    color: #fff;
    font-size: 30px;
}

a {
    display: grid;
    color: #fff;
    text-decoration: none;
    padding: 0px 6px;
    margin-right: 25px;
}