.navbar-nav {
    display: flex;
}

.navbar-nav a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    color: grey;
}

.active-link {
    font-weight: bold;
}

.navbar-nav .nav-link.active-link {
    color: var(--secondary-color);
    text-decoration: underline;
}

h1 {
    color: #fff;
    font-size: 25px;
}

p {
    color: #fff;
    font-size: 30px;
}

a {
    display: grid;
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
}