/* Styles for the navigation bar */
.navbar-nav {
  display: flex; /* Use flexbox to create a horizontal layout for the navigation items */
}

/* Styles for the navigation links */
.navbar-nav a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large; /* Set the font size to x-large */
  color: grey; /* Set the default text color for navigation links to grey */
}

/* Styles for the active link */
.active-link {
  font-weight: bold; /* Set the font weight to bold for the active link */
}

/* Styles for the active link within the navigation bar */
.navbar-nav .nav-link.active-link {
  color: var(
    --secondary-color
  ); /* Set the text color for the active link to a custom variable */
  text-decoration: underline; /* Underline the active link */
}

/* Styles for heading level 1 */
h1 {
  color: #fff; /* Set the text color to white for h1 elements */
  font-size: 25px; /* Set the font size to 25px for h1 elements */
}

/* Styles for paragraphs */
p {
  color: #fff; /* Set the text color to white for paragraphs */
  font-size: 30px; /* Set the font size to 30px for paragraphs */
}

/* Styles for general links */
a {
  display: grid; /* Use grid layout for links */
  color: #fff; /* Set the text color to white for links */
  text-decoration: none; /* Remove underline from links */
  margin-right: 25px; /* Add right margin to links for spacing */
}