* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #191919, #ff785a);
    width: 100%;
    align-content: center;
    flex-direction: column;
}

.section-default {
    max-width: 700px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #191919;
    margin-top: 38.4%;
    margin-bottom: 32.8%;
}

footer{
    width: 100%;
}

.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #ff785a;
    margin-left: 190px;
}

.section-default p {
    font-size: 12px;
    color: #ff785a;
    padding-top: 6px;
    margin-left: 12px;
}

label {
    font-size: 12px;
    color: #ff785a;
}

.ps2 {
    margin-left: 220px;
}

form {
    padding: 25px;
}

.IT {
    margin-left: 0px;
}

input {
    display: block;
    width: 550px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 25px;
}

button {
    width: 90%;
    height: 40px;
    margin-left: 25px;
    border-radius: 5px;
    background-color: #ff785a;
    color: #fff;
}

a {
    font-size: 19px;
    font-weight: bold;
    color: #ff785a;
    text-decoration: none;
    margin-left: 5%;
}

.back-link a:hover {
    color: #ffff;
}